@import "../../../styles/colors.scss";

.error-bar {
  margin: 10px;
  height: 50px;
  border-radius: 10px;
  background-color: $errorColor;
  display: flex;
  align-items: center;
  color: white;

  .fa-exclamation {
    margin: 0px 10px;
    font-size: 30px;
  }

  .close-icon-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
  }
}